*{margin: 0px;padding: 0px;}
body{font-size: 12px;padding: 20px;}
.box{
    display:-webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;

}
button{width: 100%;padding: 10px;margin: 10px 0px;background-color: green;border-radius: 10px;color:#fff;border: 1px solid #eee;}

.in{width: 80%;padding: 10px;margin: 10px 0px;border-radius: 10px;border: 1px solid #eee;}